%p.message_box メッセージが送信されました。
.sidebar_box
  .name_box
    .name_box__content
      %p.name_box__content--name 名前
      = link_to root_path do
        %i.name_box__content--icon.fa.fa-cog
      = link_to root_path do
        %i.name_box__content--icon.fa.fa-pencil-square-o
    .group_box_1
      %p.group_box1__name グループ1
      %p.group_box1__text まだメッセージはありません
    .group_box_2
      %p.group_box2__name グループ2
      %p.group_box2__text まだメッセージはありません

.main_screen_wrapper
  .main_screen
    .group_name_screen
      .group_name_screen__content
        %p.group_name_screen__content--name sampleグループ
        %p.group_name_screen__content--edit_button edit
        %p.group_name_screen__members Members: メンバー1、メンバー2
    .chat_screen
      .chat_screen__content
        %p.chat_screen__content--name チャットメンバー1
        %p.chat_screen__content--date 2018/01/01 12:34:56
        %p.chat_screen__text チャット内容1
      .chat_screen__content
        %p.chat_screen__content--name チャットメンバー2
        %p.chat_screen__content--date 2018/01/12 12:34:56
        %p.chat_screen__text チャット内容2
  .input_screen
    %p.input_screen__text Type a message
    %p.input_screen__send_button Send
    %input#upload{type: "file"}
    / = link_to root_path dos
    %label{for: "upload"}
      %i.input_screen__.fa.fa-picture-o
