html,body{
  height: 100%;

  .chat__side {
    background-color: #2f3e51;
    height: 100%;
    width: 300px;
    float: left;
    box-sizing: border-box;

    &__user {
      background-color: #253141;
      height: 100px;
      padding: 0 0 0 20px;

      &__name {
        h1 {
          font-size: 16px;
          font-weight: bold;
          line-height: 100px;
          color: #FFFFFF;
          display: inline-block;
        }
        i {
          display: inline-block;
          float: right;
          line-height: 100px;
        }
        .fa.fa-cog {
          margin-right: 20px;
        }
        .fa-pencil-square-o {
          margin-right: 10px;
        }
      }
    }

    &__groups {
      height: 80%;
      padding: 0 20px;

      &__group {
        padding: 20px 0;
        &__name {
          font-size: 15px;
          color: #FFFFFF;
        }
        &__message {
          font-size: 11px;
          color: #FFFFFF;
          padding: 5px 0 0 0;
        }
      }
    }
  }



  .chat__groups {
    background-color: #FFEEFF;
    width: calc(100% - 300px);
    float: left;
    height: 100px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eeeeee;
    &__left {
      display: inline-block;
      float: left;
      &__group {
        font-size: 20px;
        color: #333333;
        padding: 35px 40px 15px 40px;
      }
      &__member{
        font-size: 12px;
         color: #999999;
        padding: 0 40px;
      }
    }
    &__edit-btn{
      line-height: 40px;
      color: #0099FF;
      border: 2px solid #3399FF;
      margin: 28px 40px 0 40px;
      padding: 0 20px;
      display: inline-block;
      float: right;
    }
  }


  .chat__messages {
    float: left;
    padding: 6px 40px 0 40px;
    &__body {
      padding-top: 40px;
      &__top {
        display: inline-block;
        &__name {
          font-size: 16px;
          font-weight: bold;
          color: #434A54;
          float: left;
          line-height: 16px
        }
        &__date {
          font-size: 12px;
          color: #999999;
          float: left;
          line-height: 16px;
          margin-left: 10px;
        }
      }
      &__message {
        font-size: 14px;
        color: #434A54;
        margin-top: 10px;
      }
    }
  }


  .chat__footer {
    height: 90px;
    width: calc(100% - 300px);
    padding: 20px 40px 20px 40px;
    background-color: #e8ffe8;
    box-sizing: border-box;
    float: left;
    position: absolute;
    bottom: 0px;
    left: 300px;
    min-width: 600px;
    &__form {
      &__message {
        height: 50px;
        background-color: #FFFFFF;
        width: 80%;
        display: inline-block;
        float: left;
        border: 0px;
      }
        &__image {
          line-height: 50px;
          display: inline-block;
          float: left;
          background-color: #FFFFFF;
          &__file{
            display: none;
            width: 10px;
          }
        }
      &__send {
        line-height: 50px;
        background-color: #38AEF0;
        margin-left: 15px;
        padding: 0 20px;
        display: inline-block;
        float: right;
      }
    }
  }
}
